<section id="proyectos" class="py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <!-- Section Header -->
    <div class="flex flex-col items-start justify-between gap-6 md:flex-row md:items-end">
      <div>
        <span class="text-sm font-medium uppercase tracking-wider text-[#902bcc]"> Proyectos </span>

        <h2 class="mt-2 text-balance text-3xl font-bold tracking-tight text-foreground sm:text-4xl">
          Casos de éxito que hablan por nosotros
        </h2>
      </div>

      <!-- Botón -->
      <!-- <app-button
        variant="outline"
        class="border-border text-foreground hover:bg-secondary bg-transparent"
      >
        Ver todos los proyectos
        <app-arrow-up-right class="ml-2 h-4 w-4"></app-arrow-up-right>
      </app-button> -->
    </div>

    <!-- Projects Grid -->
    <div class="mt-12 grid gap-6 lg:grid-cols-3">
      @for (project of projects(); track $index) {
        <app-project-card
          [index]="$index"
          [category]="project.category"
          [title]="project.title"
          [description]="project.description"
          [metrics]="project.metrics"
        ></app-project-card>
      }
    </div>
  </div>
</section>
